body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
}

canvas {
    border: 5px solid #333;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: #fff;
}
